.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer
{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px ;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}